root = true

[*.{h,cpp}]
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
curly_bracket_next_line = true
spaces_around_brackets = outside
